html
  head
    title My Page Title
    link(rel='stylesheet' href='https://picturepan2.github.io/spectre/dist/spectre.css')
  body
    header
      h1 Main Page Title
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/galleries') Galleries
    .main-container.container
      h4 Sub header
      block content
    footer
      h6 My Footer
